body{
    background-color: azure;
}
.navbar-brand{
    font-size : x-large;
    color: cyan; 
    position: relative;
    left: auto;  
}
.nav-link{
    font-size: medium;
    color: cyan;
    position: relative;
    top: 6px;   
}
h1{
    text-align: center;
   
}
.breakpoint{
    height: 30vh;
    min-height: 100px;
}
.btn{
    background-color: grey;
    position: relative;
 }
.icofont{
    color: black;
    position: relative;
    top: 100px;
}